

<div class="actornameshow"><%= @actor.name.upcase %></div>
<!-- <div class="showIMG"><img  src="http://image.tmdb.org/t/p/original<%= @actor.picture %>" width="200" height="200" alt="Rainbow near Keswick" /></div> -->
<section class="quote">"<%= @actor.quote %>"</section>
<div id='warped'>
  <span class='w0'>F</span><span class='w1'>U</span><span class='w2'>N</span><span class='w3'> </span><span class='w4'>F</span><span class='w5'>A</span><span class='w6'>C</span><span class='w7'>T</span><span class='w8'>S</span><span class='w9'> </span><span class='w10'>A</span><span class='w11'>B</span><span class='w12'>O</span><span class='w13'>U</span><span class='w14'>T</span><span class='w15'> </span><span class='w16'>T</span><span class='w17'>H</span><span class='w18'>I</span><span class='w19'>S</span><span class='w20'> </span><span class='w21'>C</span><span class='w22'>E</span><span class='w23'>L</span><span class='w24'>E</span><span class='w25'>B</span><span class='w26'>R</span><span class='w27'>I</span><span class='w28'>T</span><span class='w29'>Y</span>
</div>

<div id='warped2'>
  <span class='w0'>R</span><span class='w1'>O</span><span class='w2'>T</span><span class='w3'>T</span><span class='w4'>E</span><span class='w5'>N</span><span class='w6'> </span><span class='w7'>T</span><span class='w8'>O</span><span class='w9'>M</span><span class='w10'>A</span><span class='w11'>T</span><span class='w12'>O</span><span class='w13'>E</span><span class='w14'>S</span><span class='w15'> </span><span class='w16'>S</span><span class='w17'>T</span><span class='w18'>A</span><span class='w19'>T</span><span class='w20'>I</span><span class='w21'>S</span><span class='w22'>T</span><span class='w23'>I</span><span class='w24'>C</span><span class='w25'>S</span>
</div>

<section class="bio"><%= truncate(@actor.bio, length: 500, omission: '...(more)') %></section>
<aside>
  <ol>
    <h3>Top Fresh Movies</h3>
    <li><p><%= @fresh[0].title %> - <%= @fresh[0].freshness %>%</p></li>
    <li><p><%= @fresh[1].title %> - <%= @fresh[1].freshness %>%</p></li>
    <li><p><%= @fresh[2].title %> - <%= @fresh[2].freshness %>%</p></li>
  </ol>
  <ol>
    <h3>Bottom Rotten Movies</h3>
    <li><p><%= @rotten[0].title %> - <%= @rotten[0].freshness %>%</p></li>
    <li><p><%= @rotten[1].title %> - <%= @rotten[1].freshness %>%</p></li>
    <li><p><%= @rotten[2].title %> - <%= @rotten[2].freshness %>%</p></li>
  </ol>
</aside>
<div id='warped3' class="sqigtext">
  <span class='w0'>C</span><span class='w1'>A</span><span class='w2'>R</span><span class='w3'>E</span><span class='w4'>E</span><span class='w5'>R</span><span class='w6'> </span><span class='w7'>B</span><span class='w8'>O</span><span class='w9'>X</span><span class='w10'> </span><span class='w11'>O</span><span class='w12'>F</span><span class='w13'>F</span><span class='w14'>I</span><span class='w15'>C</span><span class='w16'>E</span><span class='w17'> </span><span class='w18'>G</span><span class='w19'>R</span><span class='w20'>O</span><span class='w21'>S</span><span class='w22'>S</span><span class='w23'>E</span><span class='w24'>S</span>
</div>

<div class="chart">
</div>
<button type="button" class="btn btn-default" id="total">Total</button>
  <button type="button" class="btn btn-default" id="domestic">Domestic</button>
  <button type="button" class="btn btn-default" id="international">International</button>



<!-- <svg width="1000" height="560">
      
    </svg>
        <button onclick="applyD3Selectors()">Magic Circles Time</button><br> -->
<h3 class="budget_title">Movie Budgets</h3>
<div class="pie_chart"></div>
  <input type="radio" name="dataset" value="topData" checked><label>Highest Budgeted Films</label>
  <input type="radio" name="dataset" value="botData"><label>Lowest Budgeted Films revenue</label>


<script>
window.d3_url = '<%= actor_path(@actor, format: 'json') %>';
toggle_total();
pieChart();
</script>


