<!DOCTYPE html>
<html>
	<head>
	  <title>Actor DataBase - a place where movie data are pleasing to the eyes</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Fascinate+Inline|Muli|Sofadi+One' rel='stylesheet' type='text/css'>


	  <!------ D3 and Tips Scripts ---------->
	  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> <!-- bringing in d3 -->
	  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

	  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
<body>

	<%= yield %>

</body>
</html>
